[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Food_Ordering_System
Exec=/usr/bin/single-instance /opt/Food_Ordering_System/bin/Food_Ordering_System
Icon=/usr/share/icons/hicolor/80x80/apps/Food_Ordering_System80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
